* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.box {
  display: flex;
  width: 80%;
  height: 1000px;
  border: 2px solid #333; 
}

.image-section {
  flex: 1.5;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.color-section {
  flex: 3;
  background-color: #ffffff; 
}


.form{
  border: #333;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 30vh;
  margin-left: 20vw;
}

.form h1{
  text-align: center;
  margin-bottom: 10px;
}

.form input{
  width: 50%;
  padding: 15px;
  margin: 5px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 18px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form button{
  width: 50%;
  padding: 10px;
  margin: 5px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.card {
  position: absolute;
  top: 30vh;
  left: 25vw;
  width: 25vw;
  height: 25vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card-back{
  position: absolute;
  top: 60vh;
  left: 30vw;
  width: 25vw;
  height: 25vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  
}